name: Intel LLVM Build

on:
  workflow_dispatch:
  push:
  workflow_call:

env:
  NPROCS_LIMIT_LINK: 8
  SRUN: ${HOME}/srun.sh

jobs:
  MLIR-LLVM-INTEL:
    runs-on: pcl-tiergarten
    steps:
      - uses: actions/checkout@v4
      - name: LLVM Intel
        run: |-
              GPU=intel intel-ci/check_llvm.sh || \
              ${{ env.SRUN }} --partition=emr --time=0:30:00 -- \
              'KIND=RelWithDebInfo COMPILER=clang GPU=intel \
              ${{ github.workspace }}/intel-ci/build_llvm.sh'
