name: Lighthouse Intel XeGPU

on:
  workflow_dispatch:
  push:
  pull_request:

env:
  NPROCS_LIMIT_LINK: 8
  SRUN: ${HOME}/srun.sh

jobs:
  Check_LLVM:
    uses: ./.github/workflows/build-llvm.yml
    secrets: inherit

  XeGPU_Matmul:
    runs-on: pcl-tiergarten
    needs: Check_LLVM
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project and its dependencies
        run: |
          uv sync --extra ingress-torch-cpu

      - name: Run XeGPU matmul example
        run: |
          GPU=intel source intel-ci/set_gpu_runtime_env.sh && \
          ${{ env.SRUN }} --partition=b580 --time=0:30:00 -- \
          uv run python examples/xegpu_matmul/matmul.py --check-result

      - name: Run XeGPU matmul example with relu
        run: |
          GPU=intel source intel-ci/set_gpu_runtime_env.sh && \
          ${{ env.SRUN }} --partition=b580 --time=0:30:00 -- \
          uv run python examples/xegpu_matmul/matmul.py --check-result --relu
